<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand">Pok&eacute;<span class="text-danger">API</span></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"></li>
      </ul>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <img class="pokemon-logo" src="../../../../pokemon_header.png" /> &nbsp;
        <app-search></app-search>
      </div>
    </div>
  </nav>
</header>
