<div class="loading" *ngIf="!loaded">Cargando...</div>
<div class="grid-layout" *ngIf="loaded && pokemonList">
  <div class="row" infinite-scroll (scrolled)="onScrollDown()">
    <div
      class="col-xs-12 col-sm-6 col-md-4"
      *ngFor="let pokemon of pokemonList"
    >
      <app-pokemon [pokemonInterface]="pokemon"></app-pokemon>
    </div>
    <div
      class="col-xs-12 col-md-12 mt-5 container-notFound"
      *ngIf="pokemonList.length <= 0"
    >
      <p>No se encontraron resultados</p>
    </div>
  </div>

  <button
    [ngClass]="'no-hidden'"
    *ngIf="showGoUpButton"
    class="btn btn-dark"
    (click)="onScrollTop()"
  >
    Ir Arriba
  </button>
</div>
